*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 1.8rem;
    color: #fff;
}
.hamburger{
    cursor: pointer;
    padding-right: 20px;
}
.hamburger .line{
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}
.nav_link{
    position: fixed;
    width: 100%;
    top: 5rem;
    background-color: rgba(0, 0, 0, 0.75);
}
.nav_link a{
    display: block;
    text-align: center;
    padding: 10px 0;
}
.hide{
    display: none;
}

@media screen and (min-width: 600px) {
    .nav_link{
        display: block;
        position: sticky;
        width: auto;
        margin-right: 20px;
        background: none;

    }
    .nav_link a{
        display: inline-block;
        padding: 15px 20px;
    }
    .hamburger {
        display: none;
    }
}